{% extends "base.html" %}

{% block metas %}
{{super()}}
<meta name="description" content="View scholarly profiles from Wikidata for topics, people, organizations, species, chemicals, etc.">
<meta property="og:title" content="Scholia">
<meta property="og:description" content="Scholia is a service that creates visual scholarly profiles for topic, people, organizations, species, chemicals, etc using bibliographic and other information in Wikidata." />
<link href="https://wikis.world/@wdscholia" rel="me">
{% endblock %}

<!-- don't show nav search on index.html -->
{% block nav_search %}{% endblock %}

{% block page_content %}


<div class="container">
    <div class="card my-3">
      <div class="card-body">
	Scholia is a service that creates visual scholarly profiles for
	<a href="topic/">topics</a>,
	<a href="author/">people</a>,
	<a href="organization/">organizations</a>,
	<a href="taxon">species</a>,
	<a href="chemical">chemicals</a>, etc
	using bibliographic and other information in Wikidata.
        <a href="about">More info...</a></div>
    </div>
</div>

<div class="container">
  <div class="alert alert-warning" role="alert">
    Scholia relies on Wikidata, and Wikidata contains only a limited albeit growing subset of the corpus of scholarly literature, its authors and citations.
    Read more about the limitations in the <a href="faq">FAQ</a> or check the <a href="{{ url_for('app.index_statistics') }}">statistics</a>.
  </div>
</div>

<div class="container">
    <h2>Search</h2>
    
    <div class="input-group">
	    <input type="text" class="form-control"
	       placeholder="Search for a scientist, topic, publication, organization, award, event, etc." id="searchterm"/>
      <div class="input-group-append">
          <button id='searchbutton' class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>

    <div id="searchresult"></div>

</div>


<div class="container">

    <h2>Examples</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">
	    
            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Profiles</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="author/Q450226">Fan Chung</a></dt>
		    <dd>
			View the researcher profile for the graph theorist Fan Chung.
			It shows her papers, co-authors, etc.
		    </dd>
		    
		    <dt><a href="organization/Q12036042">Faculty of Mathematics and Physics, Charles University in Prague</a></dt>
		    <dd>
			View the profile for an organization: People associated with the organization, 
			their publications, the co-author patterns, etc.
		    </dd>
		    
		    <dt>
			<a href="venue/Q564426">Annals of Mathematics</a>
		    </dt>
		    <dd>
			View information about a venue, e.g., a scientific journal or scientific conference.
			Here, the journal <em>Annals of Mathematics</em>, its recently published papers and their
			authors, topics, citation patterns etc.
		    </dd>
		    
		    <dt>
			<a href="publisher/Q1376788">European Mathematical Society</a>
		    </dt>
		    <dd>
			View information about a publisher, here the
			<em>European Mathematical Society</em>, with, e.g., the journals it publishes.
		    </dd>

		    <dt>
			<a href="topic/Q1195879">Ricci curvature</a>
		    </dt>
		    <dd>
			View information about the authors or journals publishing on the topic.
		    </dd>

		    <dt>
			<a href="award/Q61744980">Fellow of the American Mathematical Society</a>
		    </dt>
		    <dd>
			View information about this award.
		    </dd>
		</dl>
            </div>

	</div>
	    
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Combinations</h4>
	    </div>
	    <div class="card-body">
		<p>Scholia can show multiple items together.</p>
		
		<dl>
		    <dt>
			<a href="organizations/Q946028,Q10302895">Institute of Mathematics and Statistics at University of São Paulo and Courant Institute of Mathematical Sciences in New York City</a>
		    </dt>
			
		    <dd>
			Compare two or more organizations. Here a comparison between two math-centric institutions with
			collaborating researchers, number of publications and citations.
		    </dd>
		</dl>

		<dl>
		    <dt>
		        <a href="authors/Q23721911,Q220402,Q1771279,Q295981">Tim Gowers, Maryam Mirzakhani, Terence Tao, Maryna Viazovska</a></dt>
            <dd>
		    Compare four Fields Medalists. 
		    </dd>
		</dl>

		<dl>
		    <dt>
		        <a href="organization/Q222738/topic/Q1048589">National Autonomous University of Mexico and density functional theory</a></dt>
            <dd>
		    Explore what people affiliated with this institution have published on the topic. 
		    </dd>
		</dl>

		<dl>
		    <dt>
		        <a href="organization/Q319078/use/Q326489">University of Melbourne and ggplot2</a></dt>
            <dd>
		    Explore what people affiliated with this institution have published using this open-source data visualization software. 
		    </dd>
		</dl>




	    </div>
        </div>
	
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Redirects</h4>
	    </div>
	    <div class="card-body">
		<p>If you know the external identifier of a concept, then Scholia can make a lookup based on it:</p>
		
		<dl>
		    <dt><a href="orcid/0000-0002-6024-466X">orcid/0000-0002-6024-466X</a></dt>
		    <dd>Lookup 0000-0002-6024-466X that is identifying theoretical physicist Mustapha Ishak-Boushaki.</dd>

		    <dt><a href="doi/10.1073/pnas.36.1.48">doi/10.1073/pnas.36.1.48</a></dt>
		    <dd>Redirect via a DOI.</dd>
		    
		    <dt><a href="github/vcvpaiva">github/vcvpaiva</a></dt>
		    <dd>
			Redirect via GitHub username, here @vcvpaiva to Brazilian logician Valeria Correa Vaz de Paiva.
		    </dd>

		    <dt><a href="twitter/monsoon0">twitter/monsoon0</a></dt>
		    <dd>Look up by Twitter username @monsoon0. This will identify
			integrable systems researcher Nalini Joshi and redirect to her Scholia page.</dd>
		  
		    <dt><a href="twitter/zbMATH">twitter/zbMATH</a></dt>
		    <dd>Redirects also work for organizations, here zbMATH.</dd>

		    <dt><a href="viaf/9822165">viaf/9822165</a></dt>
		    <dd>Redirect via VIAF identifier, here to ethnomathematician Jama Musse Jama.</dd>

		</dl>

	    </div>
        </div>
    </div>
</div>

{% endblock %}

  
